// Animations on load
@media screen and (prefers-reduced-motion: no-preference) {
    .appear-from-top {
        animation: fadeIn .2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-1rem);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
