.card {
    padding-block: 0.75rem;
    padding-inline: .75rem;
    border-radius: 8px;
    background-color: var(--white);
    min-width: 15rem;

    .card-arrow {
        fill: var(--white);
    }
}
