.card {
    padding-block: 0.75rem;
    padding-inline: .75rem;
    border-radius: 8px;
    color: var(--foreground);
    background-color: var(--background);
    border: 1px solid var(--border);
    box-shadow: var(--shadow);
    min-width: 15rem;

    .card-arrow {
        fill: var(--background);
    }

    &.p-sm {
        min-width: fit-content;
        padding: .5rem .25rem;
    }
}
