---
import type { MapMarker, PlayerMarker } from "@/types/Leaflet";

import SearchMarkers from "./overlay/SearchMarkers.vue";
import type { MapOverlayProps } from "@/types/Map";

interface Props extends MapOverlayProps {}

const {
    mapKey,
    markers = [] as MapMarker[],
    players = {} as PlayerMarker,
    searchConfig = {
        disableCapitals: false,
        disableLandmarks: false,
        disableQuests: false,
    }
} = Astro.props
---

<div class="world-overlay">
    <SearchMarkers client:load mapKey={mapKey} markers={markers} players={players} searchConfig={searchConfig} />
</div>

<style lang="scss">
.world-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    padding: 10px;
    pointer-events: none;
}
</style>
