---
import SearchMarkers from "./overlay/SearchMarkers.vue";
import type { MapMarker } from '@/types/Leaflet';

interface Props {
    markers: MapMarker[];
    players?: MapMarker;
}

const { markers, players } = Astro.props
---

<div class="world-overlay">
    <SearchMarkers markers={markers} players={players} client:visible />
</div>

<script>

</script>

<style lang="scss">
.world-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    padding: 10px;
    pointer-events: none;
}
</style>